.contenedor{
    margin: 0 auto;
    width: 900px;
}
.encabezado{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    background-color: black;
    padding: 25px;
    justify-content: space-between;
    text-decoration: none;
    color:white;
    margin-bottom: 0;
}
img{
    width: 105.5%;
    display: flex; /* Elimina cualquier espacio adicional debajo de la imagen */
    margin: 0; /* Elimina el margen alrededor de la imagen */
    padding: 0;
    justify-content: center;
    align-items: center;
}

.navegacion{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(56, 109, 56);
    color:white;
    padding: 25px;
    justify-content: space-between;
    margin-top: 0;

}

img.pequena {
    width: 103%; /* Ajusta el tamaño al 90% del contenedor */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    display: block;
    padding: 0px; /* Agrega un padding de 5px alrededor de la imagen */
    box-sizing: border-box; /* Incluye el padding dentro del ancho de la imagen */
    margin-top: 0;
    margin-left: 10px;
}
